<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Regions</title>
</head>
<body>
<div class='container'>

    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h2>Nueva Distribuidora</h2>
            </div>
            <div class="container-fluid">
                <form method="POST" action="/region/save">

                    <label for="regionid">Nombre</label>
                    <input type="text" class="form-control" id="regionid" name="regionid">

                    <label for="regiondescription">Fundacion</label>
                    <input type="text" class="form-control" id="regiondescription" name="regiondescription">

                    <a th:href="@{/region/list}">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </main>
    </div>
</div>
</body>
</html>