<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Regiones</title>
</head>
<body>
<div class='container'>

    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h2>Nueva Region</h2>
            </div>
            <div class="container-fluid">
                <form method="POST" th:action="@{/region/save}" th:object="${region}">

                    <label>Region ID</label>
                    <input type="text" class="form-control" th:field="*{regionid}">

                    <label>Description</label>
                    <input type="text" class="form-control" th:field="*{regiondescription}">

                    <a th:href="@{/region/list}">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </main>
    </div>
</div>
</body>
</html>