<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>CRUD Region</title>
</head>
<body>

<div class='container'>

    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h2>Nueva Region</h2>
            </div>
            <div class="container-fluid">
                <form method="POST" th:action="@{/region/save}">

                    <label for="regionid">ID</label>
                    <input type="text" class="form-control" id="regionid" name="regionid">

                    <label for="regiondescription">Descripción</label>
                    <input type="text" class="form-control" id="regiondescription" name="regiondescription">

                    <a href="/region/list" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </main>
    </div>
</div>
</body>
</html>