<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Regiones</title>
</head>
<body>
    <h2 th:text="| Regions List |"></h2>
    <a th:href="@{/region/form}">Crear una Región</a>

    <form class="form-inline mb-3" method="post" th:action="@{/region/search}">
        <input placeholder="Search" name="searchName">
        <button type="submit">Search</button>
        <a class="btn btn-outline-danger" th:href="@{/region/listar}">Clear</a>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Descrip</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="region, v : ${lista}">
                <td th:text="${v.index+1}"></td>
                <td th:text="${region.regiondescription}"></td>
                <td><a th:href="@{'/region/edit?id='+ ${region.regionid}}">Edit</a></td>
                <td><a th:href="@{'/region/delete?id='+ ${region.regionid}}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>